.produit-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajustez la largeur minimale */
    gap: 20px;
  }
  
  .produit-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .produit-photo img {
    width: 100%;
    height: auto;
  }
  
  .produit-details {
    padding: 15px; /* Réduisez l'espacement intérieur */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .produit-description {
    font-size: 1.1rem; /* Légèrement plus petit */
    font-weight: bold;
    margin-bottom: 8px; /* Réduisez la marge */
  }
  
  .produit-prix {
    font-size: 1rem;
    margin-bottom: 4px; /* Réduisez la marge */
  }
  
  .produit-date {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px; /* Réduisez la marge */
  }
  
  .commander-btn {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 8px 15px; /* Réduisez le rembourrage */
    font-size: 0.9rem; /* Légèrement plus petit */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
    margin-top: auto;
  }
  
  .commander-btn:hover {
    background-color: #004080;
  }
  